
.top-bar .indicator-badge.wb-unread-count {
    background-color: #a5a5c7;
}
/*popups*/
.wb-overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 8050; /* @z-modal-bg */
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.wb-popup {
    width: 811px;
    min-height: 206px;
    z-index: 9000; /* @z-modal */
    position: absolute;
    display: none; /* NOTE: This is also used in the JavaScript to test that this CSS file has been loaded, in browsers that don't reliably fire load events for stylesheets */
    box-shadow: 0 10px 30px rgba(31,25,51,0.3);
}
.wb-popup a {
    color: #5f0934;
}
.wb-popup a:hover {
    color: #961a58;
}
.wb-popup-header {
    height: 96px;
    background-image: url(../img/hat-rack.svg);
    background-color: #ff6a54;
    background-size: 811px;
    position: relative;
}
.wb-popup-title {
    position: absolute;
    color: #fff;
    font-family: arial;
    font-size: 0px;
    top: 35px;
    left: 33px;
}
.wb-popup-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-image: url(../img/x.svg);
    cursor: pointer;
}
.wb-popup-content {
    padding: 25px 30px 30px;
    text-align: left;
    font-size: 12px;
    color: black;
    background: #ebebeb;
    min-height: 380px;
    display: flex;
    justify-content: space-between;
}

#wb-newprofile-snowflake {
    display:inline-block;
    width: 12px; height: 14px;
    background-position: center -4px;
    background-repeat: no-repeat;
    background-size: 26px 26px;
}
#wb-hat-count.wb-activitytab-hat {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2260%22%20width%3D%2260%22%20version%3D%221.1%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%3E%3Cg%20transform%3D%22translate%28131.1%20-942.3%29%22%3E%3Cg%20transform%3D%22matrix%28.4274%20.2468%20-.2468%20.4274%20-112.8%20900.4%29%22%3E%3Cpath%20fill%3D%22%231c75bc%22%20d%3D%22m154%20113.6c-0.612-33.68-24.56-55.89-54.03-55.89s-53.42%2022.21-54.03%2055.89c19.13%2011.5%2089.05%2011.45%20108.1-0.004z%22%2F%3E%3Cpath%20fill%3D%22%2327aae1%22%20d%3D%22m131.3%20121.9c-0.359-38.65-14.25-64.13-31.33-64.13-17.09%200-30.97%2025.49-31.33%2064.14%2011.08%2013.19%2051.64%2013.13%2062.67-0.006z%22%2F%3E%3Cpath%20fill%3D%22%231c75bc%22%20d%3D%22m91.79%2067.17c-0.648%200-1.298-0.248-1.796-0.742-0.991-0.992-0.991-2.599%200-3.591l16.42-16.42c0.99-0.99%202.6-0.99%203.589%200.002%200.993%200.991%200.993%202.599%200%203.589l-16.41%2016.42c-0.495%200.494-1.145%200.742-1.796%200.742z%22%2F%3E%3Cpath%20fill%3D%22%231c75bc%22%20d%3D%22m108.2%2067.17c-0.646%200-1.298-0.248-1.793-0.742l-16.4-16.43c-0.991-0.99-0.991-2.598%200-3.589%200.994-0.992%202.598-0.992%203.591%200l16.42%2016.42c0.991%200.992%200.991%202.599%200%203.591-0.494%200.495-1.146%200.743-1.796%200.743z%22%2F%3E%3Cpath%20fill%3D%22%231450a8%22%20d%3D%22m100%2070.57c-1.401%200-2.539-1.135-2.539-2.539v-23.23c0-1.402%201.138-2.538%202.539-2.538%201.404%200%202.542%201.135%202.542%202.538v23.23c0%201.404-1.138%202.539-2.542%202.539z%22%2F%3E%3Cpath%20fill%3D%22%231450a8%22%20d%3D%22m111.6%2058.96h-23.2c-1.404%200-2.542-1.138-2.542-2.541s1.138-2.536%202.542-2.536h23.22c1.399%200%202.539%201.134%202.539%202.536s-1.138%202.541-2.539%202.541z%22%2F%3E%3Cpath%20fill%3D%22%2327aae1%22%20d%3D%22m160%20141.6v-23.6c0-2.399-2.657-4.344-5.938-4.344-19%2011.47-89.03%2011.52-108.1%200-3.281%200-5.94%201.942-5.94%204.344v23.64c-0.1%2021.5%20119.9%2021.5%20119.9%200z%22%2F%3E%3Cpath%20fill%3D%22%2327aae1%22%20d%3D%22m160%20141.6v-23.6c0-2.399-2.657-4.344-5.938-4.344-19%2011.47-89.03%2011.52-108.1%200-3.281%200-5.94%201.942-5.94%204.344v23.64c-0.1%2021.5%20119.9%2021.5%20119.9%200z%22%2F%3E%3Cg%20fill%3D%22%231c75bc%22%3E%3Cpath%20d%3D%22m44.67%20148.3c0.615%200.403%201.277%200.796%202%201.173v-35.5c-0.237-0.133-0.502-0.258-0.727-0.394-0.438%200-0.862%200.039-1.273%200.104v34.61z%22%2F%3E%3Cpath%20d%3D%22m58%20153.5c0.654%200.162%201.32%200.319%202%200.473v-35.41c-0.674-0.15-1.353-0.299-2-0.459v35.4z%22%2F%3E%3Cpath%20d%3D%22m71.33%20156c0.661%200.089%201.327%200.175%202%200.257v-35.45c-0.671-0.08-1.341-0.158-2-0.244v35.44z%22%2F%3E%3Cpath%20d%3D%22m84.67%20157.3c0.664%200.042%201.331%200.083%202%200.12v-35.48c-0.669-0.035-1.336-0.074-2-0.113v35.47z%22%2F%3E%3Cpath%20d%3D%22m98%20122.2v35.49c0.667%200.004%201.333%200.01%202%200.01v-35.48c-0.667%200-1.333-0.011-2-0.017z%22%2F%3E%3Cpath%20d%3D%22m111.3%20157.5c0.67-0.031%201.335-0.066%202-0.104v-35.48c-0.664%200.034-1.33%200.067-2%200.097v35.49z%22%2F%3E%3Cpath%20d%3D%22m124.7%20156.5c0.673-0.074%201.337-0.153%202-0.234v-35.45c-0.664%200.078-1.324%200.16-2%200.231v35.45z%22%2F%3E%3Cpath%20d%3D%22m138%20154.4c0.68-0.14%201.345-0.281%202-0.431v-35.41c-0.657%200.146-1.316%200.29-2%200.428v35.41z%22%2F%3E%3Cpath%20d%3D%22m151.3%20150.5c0.702-0.308%201.374-0.623%202-0.951v-35.49c-0.621%200.346-1.287%200.679-2%201.002v35.44z%22%2F%3E%3Cpath%20d%3D%22m68.78%20117.5c-0.031%200.878-0.053%201.767-0.071%202.658%2018.86%202.774%2043.75%202.767%2062.6-0.007-0.019-0.895-0.039-1.781-0.07-2.659-18.82%202.761-43.63%202.77-62.46%200.008z%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%231450a8%22%3E%3Cpath%20d%3D%22m68.78%20117.5c-9.703-1.423-17.82-3.577-22.7-6.475-0.047%200.864-0.088%201.729-0.104%202.61%204.856%202.918%2013%205.09%2022.73%206.521%200.019-0.892%200.041-1.778%200.072-2.656z%22%2F%3E%3Cpath%20d%3D%22m131.3%20120.2c9.754-1.438%2017.9-3.605%2022.73-6.521-0.016-0.881-0.059-1.746-0.104-2.611-4.861%202.892-12.98%205.048-22.7%206.474%200.032%200.877%200.052%201.766%200.071%202.658z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    right: -11px;
    top: -31px;
    text-decoration: none;
    z-index: 10; /* not sure why, but the "congrats!" card has z-index 9 */
}
#wb-hat-count.wb-activitytab-hat > span {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    display: block;
    text-align: center;
    line-height: 49px;
    font-size: 20px;
    font-weight: bold;
    color: #e0f0ff;
    text-shadow: 0px 0px 2px #000040;
    margin-left: 13.2px;
}

/* hat rack */
#wb-hat-rack.wb-modifying-someone-else {
    box-shadow: 0 0 2px 3px red, 0 10px 30px rgba(31,25,51,0.3);
}
.wb-outer {
    width: calc(99.9%/8 - 10px);
    width: calc((99.9% - 80px)/var(--wb-cols, 8));
    margin: 0 0 10px 10px;
    margin: 0 0 calc(80px/var(--wb-cols, 8)) calc(80px/var(--wb-cols, 8)); /* can't have a --wb-gutter custom property for this: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12143022/ */
    box-sizing: border-box;
    font-size: 8px;
    color: #808080;
    text-align: center;
    padding: 5px;
    padding: calc(40px/var(--wb-cols, 8) + 3px);
    border-radius: 2px;
    cursor: pointer;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 0px #c7c7c7 inset;
    transition: box-shadow 0.2s linear, background-color 0.2s linear;
}
.wb-outer > div {
    -moz-user-select: none;
}
.wb-outer:hover {
    background-color: #c6d9ff;
}
#wb-hat-rack .wb-wearing {
    box-shadow: 0px 0px 0px 2px #c7c7c7 inset, 0px 0px 0px 0px #c7c7c7;
}
#wb-hat-rack .wb-selected {
    box-shadow: 0px 0px 0px #c7c7c7 inset, 0px 0px 0px 3px #0B1141;
}
.wb-hat-details {
    position: relative;
    color: #6b6b8f;
    margin-right: 30px;
    width: 158px;
    flex-shrink: 0;
}
.wb-hat-details button, button#wb-join {
    background: #ff6a54;
    color: white;
    margin: 0;
    font-size: 14px;
    border: 1px solid #5f0934;
    width: 100%;
    cursor: pointer;
    padding: .6em .8em;
    box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3);
    border-radius: 3px;
}
.wb-hat-details button:hover, button#wb-join:hover {
    background-color: #5f0934;
}
#wb-only-here, #wb-show-handle {
    vertical-align: middle;
    margin-right: 5px;
}
[for="wb-only-here"], [for="wb-show-handle"] {
    vertical-align: middle;
}
#wb-hat-details-info {
    min-height:200px;
    margin: 10px 0;
}
#wb-hat-details-info p {
    margin-bottom: 20px;
}
.wb-hat-detail-description {
    font-style: italic;
}
#wb-hat-details-info h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: #2d2d51;
}
.wb-mainarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;
}
.wb-rack {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: -10px;
    margin-left: calc(-80px/var(--wb-cols));
}
.wb-bottom {
    display: flex;
    justify-content: space-between;
}

a.wb-hat-details-avatar {
    border: 15px solid white;
    display: block;
    width: 158px;
    height: 158px;
}
#wb-hat-details-display {
    padding-top: 15px; /* padding not margin to prevent collapsing with the >div*/
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    width: 128px;
    height: 143px;
}
#wb-hat-details-display > div {
    margin: 0 auto; /* top will be set in JS */
}

#wb-handles-container {
    position: absolute;
    z-index: 1;
}
.wb-draggable {
    cursor: move;
}

#wb-rotscale-handle, #wb-move-handle {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    transform-origin: 50% 50%;
    border: 2px solid rgba(255,255,255,0.5);
}
#wb-rotscale-handle {
    background-color: #32BCE6;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2240%22%20width%3D%2240%22%20version%3D%221.1%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%3E%3Cg%20transform%3D%22translate(0%20-1012)%22%20stroke%3D%22%23fff%22%20fill%3D%22none%22%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m33.93%201032c0%207.685-6.237%2013.91-13.93%2013.91-7.694%200-13.93-6.23-13.93-13.91%200-7.684%206.237-13.91%2013.93-13.91%203.695%200%207.238%201.466%209.851%204.075%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m30.41%201034%203.723-2.756%202.86%203.588%22%20stroke-width%3D%222%22%2F%3E%3Cg%20stroke-width%3D%222.756%22%3E%3Cg%20transform%3D%22matrix(.5135%20-.5129%20.5135%20.5129%20-518.7%20517.1)%22%3E%3Cpath%20d%3D%22m25.8%201027h10.89%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m32.27%201023%204.426%204.426-4.426%204.426%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(.5135%20.5129%20.5135%20-.5129%20-518.7%201548)%22%3E%3Cpath%20d%3D%22m25.8%201027h10.89%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m32.27%201023%204.426%204.426-4.426%204.426%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(-.5135%20-.5129%20-.5135%20.5129%20559.2%20517.1)%22%3E%3Cpath%20d%3D%22m25.8%201027h10.89%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m32.27%201023%204.426%204.426-4.426%204.426%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(-.5135%20.5129%20-.5135%20-.5129%20559.2%201548)%22%3E%3Cpath%20d%3D%22m25.8%201027h10.89%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m32.27%201023%204.426%204.426-4.426%204.426%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    cursor: grab;
    cursor: -webkit-grab;
}
#wb-rotscale-handle.wb-dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
#wb-move-handle {
    background-color: #ff6a54;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2240%22%20width%3D%2240%22%20version%3D%221.1%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%3E%3Cg%20transform%3D%22translate(0%20-1012)%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222.756%22%20fill%3D%22none%22%3E%3Cg%20transform%3D%22matrix(.0004383%20-.7258%20.7258%20-.0004383%20-725.2%201047)%22%3E%3Cpath%20d%3D%22m25.8%201027h10.89%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m32.27%201023%204.426%204.426-4.426%204.426%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(.7258%20-.0004383%20.0004383%20-.7258%205.548%201778)%22%3E%3Cpath%20d%3D%22m25.8%201027h10.89%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m32.27%201023%204.426%204.426-4.426%204.426%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(-.7258%20.0004383%20-.0004383%20.7258%2035.02%20286.9)%22%3E%3Cpath%20d%3D%22m25.8%201027h10.89%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m32.27%201023%204.426%204.426-4.426%204.426%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22matrix(-.0004383%20.7258%20-.7258%20.0004383%20765.7%201018)%22%3E%3Cpath%20d%3D%22m25.8%201027h10.89%22%2F%3E%3Cpath%20style%3D%22color%3A%23000000%22%20d%3D%22m32.27%201023%204.426%204.426-4.426%204.426%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    top: -22px;
}
#wb-rotscale-line, #wb-move-line {
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    height: 1px;
    position: absolute;
    left: 0;
    top: -1px;
    transform-origin: 0 50%;
    opacity: 0.5;
}
#wb-rotscale-line {
    background: #e65e16;
    position: absolute;
}
#wb-move-line {
    background: #299908;
}
.wb-favicon {
    width:16px;
    height: 16px;
    margin: 5px 2px 5px 0;
}
.top-bar .-secondary .icon-winterbash.wb-open.topbar-icon-on,
.top-bar .-secondary .icon-winterbash.wb-open.topbar-icon-on:hover {
    background-color: #32bce6;
    color: white;
}
/* inbox */
.topbar-dialog.wb-inbox-dialog {
    width: 375px;
    border-color: #32bce6;
}
.topbar-dialog.wb-inbox-dialog .header {
    height: 44px;
    /*background-image: url(../img/sprite-hat-picker.png);
background-size: cover;
background-position: center top;*/
    background-color: #32bce6;
    /*padding: 0px 10px 8px 67px;*/
}

.topbar-dialog.wb-inbox-dialog .header h3 {
    line-height: 19px;
    text-transform: none;
}
.wb-inbox-dialog .modal-content {
    min-height: 371px;
    max-height: 371px;
    overflow-y: auto;
    overflow-x: hidden;
}
.wb-inbox-dialog .wb-footer {
    padding: 10px 8px;
    background: var(--black-025);
}
.wb-inbox-dialog .header a {
	color: #5f0934 !important;
}

.wb-footer a {
    color: white!important;
}
.wb-inbox-dialog .header a:hover, .wb-footer a:hover {
    text-decoration: underline;
}
.wb-inbox-dialog .modal-content > p {
    margin-top: 15px;
    line-height: 1.3;
}
#wb-join {
    display: block;
    margin: 0 auto;
}
.wb-inbox-item {
    border-bottom: 1px solid #f3f3f3;
    padding: 0;
}
.wb-inbox-item:last-child {
    border: none!important;
}
.wb-new {
    background-color: #FFFFE2;
}

.wb-inbox-item > a > * {
    display: inline-block!important;
    vertical-align: middle!important;
    margin-right: 12px!important;
}
.wb-inbox-item > a > p {
    color: #888;
    font-size: 11px;
    width: 277px;
    margin: 0!important;
}
.wb-inbox-item .wb-hat-holder {
    width: 16px;
}
.wb-inbox-item .wb-hat-holder > div {
    margin: 0 auto;
}

.hat img {
    width: auto!important;
    height: auto!important;
    margin: 0!important;
    border: none!important;
    max-width: none!important;
    max-height: none!important;
}

/* necessary additions to site css */
.user-page .js-user-header .user-gravatar-mini {
    overflow: visible!important; /* not sure why it's hidden, that seems unnecessary. It's the little avatar on the top right of the profile's activity tab*/
}
#avatar-card {
    /* this is set to relative because there's a class in the dev story CSS of name s-card :( */
    /* we need it static so that the absolutely positioned hat can extend outside of the overflow: hidden*/
    position: static;
}
#top-cards > aside:nth-of-type(2) {
    /* kinda the opposite of the above -- the dev story s-card already does this on SO, but not elsewhere */
    /* we need this for positioning the bobble */
    position: relative; 
}
#avatar-card .hat {
    z-index: 1;
}